<launch>

<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="fixed_frame"/>
    <param name="freq" value="30.0"/>
    <param name="base_footprint_frame" value="pelvis"/>
    <param name="sensor_timeout" value="1.0"/>  
    <param name="odom_used" value="false"/> <!-- Wheel Odometry -->
    <param name="imu_used" value="true"/>  <!-- IMU -->
    <param name="vo_used" value="true"/> <!-- Visual Odometry -->
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    
    <remap from="/imu_data" to="/xbotcore/imu/imu_link"/>
    <remap from="/vo" to="/T265/T265_camera/odom/sample"/>
</node>

</launch>
